.Poster {
    width: 100%;
    height: 100vh;
    margin-top: 80px;
    background: linear-gradient(#01000980, rgba(2, 0, 28, 0.5)),
        url("../images/fontanero.jpg");
    /* background-position: cover; */
    background-size: contain;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Poster h1 {
    font-size: 80px;
    color: white;
}

.Poster p {
    color: white;
    font-size: 30px;
}


@media (max-width: 540px) {
    .Poster {
        height: 94vh;
        margin-top: 70px;
    }

    .Poster h1 {
        font-size: 40px;
        width: 90%;
    }

    .Poster p {
        font-size: 17px;
        width: 90%;
    }
}

/* @media (min-width: 1000px) {
    .Poster h1 {

        width: 81%;
        text-align: center;
    }

    .Poster p {
        width: 80%;
        text-align: center;
    }
} */